/* modal-overlay */
.modal-overlay1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Overlay background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* modal-content */
.modal-content1 {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Button style */
.modal-content1 button {
    padding: 8px 16px;
    background-color: #dc3545; /* Red button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content1 button:hover {
    background-color: #c82333;
}
