body{
    background-color: black;
}
.detail {
   
    border: 1px solid #28a745; 
    color: #E0E0E0;
    padding: 15px; 
    border-radius: 8px;
    width: 60%; 
    margin-bottom: 20px; 
    
}

.detail:hover {
    transform: scale(1.02); 
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.text-center h2 {
    font-family: 'Lobster', cursive !important;
    font-size: 2.5rem;
    font-weight: 700; 
    margin-top: 2rem;
    margin-bottom: 8rem; 
    color: black; 
    text-align: center;
    text-transform: uppercase;
}

.social-icons {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding-bottom: 50px; 
    gap: 40px; 
}

.social-icons i {
    font-size: 2rem; 
    transition: transform 0.3s ease, color 0.3s ease; 
}

.social-icons i:hover {
    transform: scale(1.2); 
}

.linkedin {
    color: #0077b5; 
}

.mail {
    color: #FF6600;
}

.github {
    color: white; 
}

.social-icons i:hover.linkedin {
    color: #006697; 
}

.social-icons i:hover.mail {
    color: #e64a19; 
}

.social-icons i:hover.github {
    color: #cfcfcf; 
}
