.ProjectPage {
  background-color: black;
  padding: 40px 0;
}

.custom-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 150px;
  padding-right: 120px;
  padding-top: 100px;
}

.styling-card {
  background-color: rgba(30, 30, 30, 0.9) !important;
  border-width: 5px;
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  border-radius: 8px;
  width: 400px;
  height: 500px !important;
  margin-bottom: 20px;
}

.styling-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  padding-bottom: 20px;
}

.styling-card .card-title {
  color: #FFFFFF;
  font-size: 1.4rem;
  padding: auto;
}

.styling-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #32CD32;
}

.myProjects {
  font-weight: bolder;
  font-size: 50px;
  color: #ffffff;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #32cd32;
  animation: typing 4s steps(40) 0.1s 1 normal both;
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.myProjects.typing-done {
  border-right-color: transparent;
  border-right: none;
}
