.project-details-container {
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    background-color: #1e1e1e;
    color: #fff;
  }
  
  .project-details-container h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #39FF14; 
    margin-bottom: 20px;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .project-details-container p {
    font-size: 1.3rem;
    line-height: 1.6;
    padding: 10px;
    color: #dcdcdc;
    text-align: left;
  }
  
  .project-details-container .project-image {
    max-width: 100%;
    height: auto;
    margin-top: 30px;
    border-radius: 12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .project-details-container .error-message {
    color: red;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
  }
  
  .project-details-container .loading {
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
  }
  