.project-details-container {
  padding: 40px;
  max-width: 100%;
  
  background-color: black; 
 
  
  color: white;
  
}

.project-details-container h2 {
  font-size: 2.5rem;
  margin-top: 50px;
  margin-bottom: 30px;
  color: #289b28; 
  text-align: center;
  text-transform: uppercase; 
  letter-spacing: 2px;
}

.project-details-container div {
  color: white; 
  font-size: 1.3rem;
  text-align: justify; 
  margin-top: 20px;
  line-height: 1.8;
  white-space: pre-line;

  padding-left: 15px;
  
}


.project-image {
  width: 100%; 
  
  height: auto;
  border-radius: 12px;
  margin: 30px auto;
  
}

.project-details-container img {
  margin-top: 30px;
  width: 100%;
  max-width: 700px; 
  height: auto;
  display: block; 
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  
}


.project-details-text {
  background-color: rgb(106, 109, 101); 
  padding: 30px;
  border-radius: 12px;
  margin-bottom: 30px;
  font-size: 1.5rem;
  color: white; 
  line-height: 1.8;
  
}
@media (max-width: 375px) {
  .project-details-container h2 {
    font-size: 1.6rem; 
  }

  .project-details-container div {
    font-size: 0.9rem; 
    line-height: 1.4;
  }

  .project-details-text {
    font-size: 1.1rem;
    padding: 10px; 
  }

  .project-image,
  .project-details-container img {
    max-width: 100%; 
    border-radius: 5px; 
  }
}


@media (min-width: 768px) {
  .project-details-container {
    padding: 30px;
  }

  .project-details-container h2 {
    font-size: 2.3rem;
  }

  .project-details-container div {
    font-size: 1.3rem;
    padding-left: 15px;
  }

  .project-details-text {
    padding: 25px;
    font-size: 1.6rem;
  }
}

@media (min-width: 1024px) {
  .project-details-container {
    padding: 40px;
  }

  .project-details-container h2 {
    font-size: 2.3rem;
    padding: 50px;
  }

  .project-details-container div {
    font-size: 1.3rem;
    padding-left: 20px;
  }

  .project-details-text {
    padding: 30px;
    font-size: 1.7rem;
  }

  .project-details-container img {
    max-width: 700px; 
  }
}
.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}

