
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%; 
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1e1e1e;
    color: #f8f8f8;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}


.admin-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.projects-container1 {
    flex: 1;
    padding: 5vw;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}


.projects-header1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    padding: 4vw 0;
    position: sticky;
    top: 0;
    z-index: 10;
}


.projects-header3 .section-title {
    font-family: 'Lobster', cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 5vw; 
    font-weight: bold;
    color: #f8f9fa;
    text-align: center;
    max-width: 90%;
}


.add-project-btn {
    position: fixed;
   
    right: 2vw;
    padding: 1vw 2vw;
    background-color: #7279dd;
    color: white;
    font-size: 3vw;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    z-index: 20;
    transition: background-color 0.3s ease-in-out;
}

.add-project-btn:hover {
    background-color: #858bdf;
}


.projects-table-container1 {
    margin-top: 2vw;
    width: 100%;
    overflow-x: auto;
    flex-grow: 1;
    padding: 5vw;
}


.projects-table1 {
    width: 100%;
    border-collapse: collapse;
    background: #222;
    
    overflow: hidden;
    color: white;
    min-width: 600px;
}

.projects-table1 thead {
    background-color: #7279dd;
}

.projects-table1 th,
.projects-table1 td {
    padding: 3vw;
    text-align: center;
    border-bottom: 1px solid #444;
    font-size: 3vw;
}

.projects-table1 tbody tr:hover {
    background-color: #333;
}


.edit-btn,
.delete-btn {
    padding: 3vw;
    margin-right: 1vw;
    border: none;
    cursor: pointer;
    font-size: 3vw;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.edit-btn {
    background-color: #28a745;
    color: white;
}

.delete-btn {
    background-color: #dc3545;
    color: white;
}

.edit-btn:hover {
    background-color: #218838;
}

.delete-btn:hover {
    background-color: #c82333;
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vw;
    
}

.modal-content {
    height: 100%;
    background: #222;
    padding: 2vw;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    text-align: center;
    
}

.modal-content form{
    overflow-y: auto;
}

.modal-content h2 {
    color: #f8f8f8;
}

.modal-content label {
    display: block;
   
    color: #f8f8f8;
}

.modal-content input,
.modal-content textarea {
    width: 100%;
    padding: 3vw;
    margin-top: 1vw;
    border-radius: 5px;
    border: none;
    background: #333;
    color: white;
}


.modal-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 3vw;
}

.modal-buttons button {
   
    border: none;
    cursor: pointer;
    border-radius: 5px;
    
    
}

.modal-buttons button:first-child {
    background-color: #28a745;
    color: white;
    height: 50px;
}

.modal-buttons button:last-child {
    background-color: #dc3545;
    color: white;
    height: 50px;
}

.modal-buttons button:hover {
    opacity: 0.8;
}


.projects-table-container1::-webkit-scrollbar {
    width: 1vw;
}

.projects-table-container1::-webkit-scrollbar-track {
    background-color: #333;
}

.projects-table-container1::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
}

.projects-table-container1::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}


   
@media (min-width: 600px) {
    .projects-header1 .section-title {
        font-size: 3rem;
    }

    .add-project-btn {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }

    .projects-table1 th,
    .projects-table1 td {
        padding: 1rem;
        font-size: 1rem;
    }
}


@media (min-width: 1025px) {
    .projects-container1 {
        margin-left: 250px;
        padding: 30px;
        width: calc(100% - 250px);
    }

    .projects-header3 .section-title {
        font-size: 2.8rem;
    }

    .add-project-btn {
        top: 20px;
        right: 30px;
        font-size: 1rem;
        padding: 10px 20px;
    }

    .projects-table-container1 {
        width: 100%;
        padding: 0 50px;
    }

    .projects-table1 th,
    .projects-table1 td {
        padding: 15px;
        font-size: 1rem;
    }
}